@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans'), url("../fonts/FiraSans-Regular.woff") format('woff');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Medium'), url("../fonts/FiraSans-Medium.woff") format('woff');
}
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Serif Pro'), url("../fonts/SourceSerifPro-Regular.woff") format('woff');
}
@font-face {
    font-family: 'Source Serif Pro';
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Heuristica-Italic.woff") format('woff');
}
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Serif Pro Bold'), url("../fonts/SourceSerifPro-Bold.woff") format('woff');
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), url("../fonts/SourceCodePro-Regular.woff") format('woff');
}


* {
  font-family: 'Fira Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  padding: 0;
  font-weight: 100;
  margin: 0;
}
pre, code, .code-sample {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "DejaVu Sans Mono", monospace;
}
a { color: black; }

.logo-e { font-weight: 500; }

h1 {
  font-size: 10em;
}
#title {
  float: left;
  padding: 10px;
  margin-left: 10px;
}
#navigation {
  float: right;
  margin: 10px 10px 0px 0px;
}
#navigation a {
  color: black;
  text-decoration: none;
  padding: 10px;
}
#navigation a:hover {
  background-color: #EEEEEE;
}


#intro          { color: black; background-color: #F8F8F8; }
#easy           { background-color: #65A683; }
#flexible       { background-color: #218777; }
#intuitive      { background-color: #3F585F; }
#conversational { background-color: #47384D; }
#stay-informed  { background-color: #DD3357; }


.content-section {
  color: white;
  padding: 100px 50px 50px 50px;
  text-align: center;
}
.content { margin-top: 60px; }

.code-sample {
  letter-spacing: -0.02em;
  text-align: left;
  
  color: #444444;
  
  margin: 50px 0 0 -300px;
  position: relative;
  left: 50%;
}
.code-comment {
  color: #AAAAAA;
}
.code-keyword {
  color: #3FA8AF;
}
.code-string {
  color: #DD3357;
}

.clearer { clear: both; }

.left-column {
  float: left;
  width: 50%;
  text-align: right;
}
.right-column {
  float: right;
  width: 50%;
  text-align: left;
}

.blurb {
  margin-top: 140px;
  font-size: 18px;
  line-height: 2em;
  width: 30em;
}
.left-column .blurb {
  margin-right: 20px;
  float: right;
}
.right-column .blurb {
  margin-left: 20px;
  float: left;
}

.cartoon { margin: 0 20px 0 20px; }

#stay-informed .content { margin-top: 100px; }
#stay-informed .stay-informed-info { margin: 0 20px 0 20px; }
#stay-informed p.stay-informed-info { font-size: 20px; line-height: 2em; }
#stay-informed .blurb { margin-top: 0; }
#stay-informed a { color: white; }

#intuitive .cartoon { margin-top: 50px; }
#conversational .cartoon { margin-top: 75px; }

fieldset {
  border: none;
}
input {
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  text-align: right;
  border-radius: 5px;
  border: none;
  outline: none;
}
.submit-button { background-color: rgba(255,255,255,0.8); }
.ng-invalid .submit-button { background-color: rgba(255,255,255,0.2); color: rgba(255,255,255,0.2); }
.invalid-email-error { font-size: 20px; margin-top: 10px; }

.info-page { background-color: #F8F8F8; }
.info-page .content-section p {
  position: relative;
  left: 50%;
  margin: 20px 0px 0px -350px;
  line-height: 1.25em;
}
.info-page .content p {
  text-align: left;
  font-size: 20px;
}
.question { margin-bottom: 60px; }
.bio { margin-bottom: 60px; }
.bio img {
  margin-bottom: 20px;
}
